  .basic-services {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media screen and (max-width: 1080px) {
      gap: 20px;
    }

    @media screen and (max-width: 560px) {
      grid-template-columns: 1fr;
    }

    .info_item {
      border-radius: 10px;
      padding: 20px;
      display: flex;
      align-items: center;
      gap: 30px;

      @media screen and (max-width: 1080px) {
        gap: 20px;
        text-align: center;
      }

      @media screen and (max-width: 860px) {
        flex-direction: column;
      }

      .text {
        p {
          font-size: 20px;
          color: $text_gray;
          font-weight: 600;

          @media screen and (max-width: 1080px) {
            font-size: 16px;
          }

          @media screen and (max-width: 740px) {
            font-size: 14px;
          }
        }

        h3 {
          font-size: 30px;
          color: $text_black;
          font-weight: 700;

          @media screen and (max-width: 1360px) {
            font-size: 24px;
          }

          @media screen and (max-width: 1080px) {
            font-size: 20px;
          }

          @media screen and (max-width: 740px) {
            font-size: 18px;
          }
        }
      }

      &:first-child {
        background-color: #FFF5D9;

        .icon {
          background-color: #FBBC05;
          border-color: #ffffffbe;
        }
      }

      &:nth-child(2) {
        background-color: #FDE6E4;

        .icon {
          background-color: #F4847A;
          border-color: #ffffffbe;
        }
      }

      &:nth-child(3) {
        background-color: #F5EBFC;

        .icon {
          background-color: #D4A0F9;
          border-color: #ffffffbe;
        }
      }

      .icon {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 12px solid;

        @media screen and (max-width: 1080px) {
          width: 70px;
          height: 70px;
          border: 8px solid;

          img {
            height: 20px;
          }
        }
      }
    }
  }