    .product_container {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 30px;

      @media screen and (max-width:1240px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      @media screen and (max-width:860px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @media screen and (max-width:560px) {
        grid-template-columns: 1fr;
      }
    }



    .product_card {
      background-color: $bg_gray;
      border-radius: 10px;
      padding: 20px;

      .title {
        font-size: 16px;
        color: $text_gray;
        font-weight: 500;
        padding-top: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .produc_image {
        img {
          width: fit-content;
          object-fit: cover;
        }
      }

      .product-price {

        display: flex;
        justify-content: space-between;

        .new-price {
          font-weight: 800;
          color: $text_black;
          font-size: 20px;
        }

        .old-price {
          text-decoration: line-through;
          padding-left: 10px;
          font-size: 14px;
          color: $text_gray;
          font-weight: 500;
        }

        .rating {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }

    }