.featured_product {

  .section_content {
    position: relative;

    .navigation_buttons {
      button {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        background-color: $white;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        box-shadow: -1px 1px 19px -1px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: -1px 1px 19px -1px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: -1px 1px 19px -1px rgba(0, 0, 0, 0.35);

        @media screen and (max-width: 840px) {
          width: 45px;
          height: 45px;
        }


        @media screen and (max-width: 640px) {
          width: 40px;
          height: 40px;

          img {
            height: 25px;
            width: 25px;
          }
        }
      }

      #featured_next_el {
        left: -25px;
        z-index: 20;

        @media screen and (max-width: 1440px) {
          left: 0px;
        }
      }

      #featured_prev_el {

        right: -25px;
        z-index: 20;

        @media screen and (max-width: 1440px) {
          right: 0;
        }
      }
    }

  }

}